---
layout: default
section: blog
---
<div class='listing col6 pad4h margin3'>
{% for item in site.categories.blog limit:1000 %}
{% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
{% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
{% if date != ndate %}
<h3 class='month'>{{item.date | date: '%B %Y'}}</h3>
{% endif %}
<h4><a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class='date'>:: {{item.date | date:"%b %d"}}</span></a></h4>
{% endfor %}
</div>
{% include rss-link.html %}
